  body {
    font-family: 'Merriweather',sans-serif;
  }
  h1, h2 {
    text-align: center;
    color: darkblue;
  }
  .underline {
    text-decoration: underline;
  }
  .top-container {
    background-color: #e4f9f5;
    color: black;
    margin: 0;
    text-align: center;
    border-style: double;
  }
    .circle {
      border-radius: 100%;
      border-style: dotted;
      margin: 0 auto 30px auto;
      width: 20%;
    }
  .mid-container {
    font-family: cursive;
  }
    .tables {
      border-style: groove;
      background-color: lightyellow;
    }
    ol, ul{
      display: inline-block;
    }
  .bottom-container {
    background-color: #e4f9f5;
    padding: 25px;
    text-align: center;
    border-style: groove;
  }
    .button1 {
        background-color:cyan;
        color: darkblue;
        padding: 10px 10px;
        text-align: center;
        font-size: 16px;
    }
