
/* This is the css for the nav bar */

.flex-container {
    display: flex;
    background-color:black;
    justify-content: space-around;
}
.flex-container > div {
    margin: 10px 0px 10px 10px;
    border-radius: 20px;
    padding: 10px;
    background-color: azure;
    font-size: 30px;

}






































/*Moj's part*/
#moj-banner {
    height: 660px;
    object-fit:cover;
    background-image: url('images/moj-banner.jpg');
    display: flex;
    width: 100%;
    background-size: cover;
    flex-direction: column;
    padding-left: 24px;
}
#moj-h1 {
    font-size: 128px;
}
#moj-h3 {
    font-size: 76px;
}
#highlights {
    padding: 24px;
}
#moj-h4 {
    color: cornflowerblue;
    font-family: monospace;
    font-size: 56px;
}
#moj-ul > li {
    margin-bottom: 18px;
   font-family: monospace;
    font-size: 24px;
}