
/* This is the css for the nav bar */

.flex-container {
    display: flex;
    background-color:black;
    justify-content: space-around;
}
.flex-container > div {
    margin: 10px 0px 10px 10px;
    border-radius: 20px;
    padding: 10px;
    background-color: azure;
    font-size: 30px;

}
.bodylan {
    background-color: darkslategrey;
}

.plan {
    color: lightgoldenrodyellow;
}

.headerlan {
    color: orange;
    text-align: center
}

.headerlan2 {
    color: orange;
}
.alan{
    text-decoration:none;
}